.Logo {
    flex: 0.3;
    font-size: 1.6rem;
    color: var(--logo-main);
    font-family: 'Audiowide', cursive;
    position: relative;
    transition: all 350ms ease-in-out;
}
.Logo-pop {
    position: absolute;
    top: -12px;
    color: #f6f8ff;
    font-size: 2.7rem;
    font-weight: 600;
    transform: rotateZ(20deg);
    transition: all 350ms ease-in-out;
}
.Logo-pop:hover{
    transform: translateX(5px) rotateZ(-90deg);
}
.Logo-margin {
    width: 20px;
    margin: 0 20px;
}
.Logo:hover{
    cursor: pointer;
    transform: scale(1.15);
}

@media only screen and (max-width : 1135px) {
    .Logo{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width : 960px) {
    .Logo-text-left,.Logo-text-right {
        display: none;
    }
    .Logo-pop{
        font-size: 3.8rem;
        color: var(--logo-main);
        transform: rotateZ(-90deg);
    }
}