.Navbar {
    width: 80%;
    /* margin: 0 auto; */
    height: 10vh;
    background: var(--background-default);
    position: absolute; 
    top: 1%;
    z-index: 15;
    /* margin-left: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms ease-in-out;
}
.Navbar-sticky{
    width: 85vw;
    height: 12vh;
    position: fixed;
    top: 0;
    left: 5%;
    /* margin: 0 auto; */
    justify-content: flex-start;
    background: linear-gradient(to bottom, #010B14, #010b1400);
}
