.Navmenu {
    flex: 0.6;
    font-family: 'Play', sans-serif;
}
.Navmenu>ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    letter-spacing: 1.2px;
}
.Navmenu>ul>li {
    flex: 0.3;
}
.Navmenu>ul>li:hover{
    cursor: pointer;
}
a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    outline: none;
    color: var(--font-default);
}
a:hover{
    color: var(--accent-default);
}
a::after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--accent-default);
    position: relative;
    bottom: 0;
    transition: 300ms all ease-in-out;
}
a:hover::after{
    width: 70%;
}
.Navmenu-text{
    line-height: 96px;
    transition: all 350ms ease-in-out;
}
.Navmenu-img{
    width: 90px;
    height: 90px;
    transition: all 350ms ease-in-out;
}
.Navmenu-scrolled{
    display: none;
}