.Navmenu {
    flex: 0.6;
    font-family: 'Play', sans-serif;
}
.Navmenu>ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    letter-spacing: 1.2px;
}
.Navmenu>ul>li {
    flex: 0.3;
}
.Navmenu>ul>li:hover{
    cursor: pointer;
}
.Navmenu-text{
    line-height: 96px;
    transition: all 350ms ease-in-out;
}
.Navmenu-img{
    width: 90px;
    height: 90px;
    transition: all 350ms ease-in-out;
}
.Navmenu-scrolled{
    display: none;
}