.note {
    height : 120px;
    width : 200px;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    object-fit: contain;
}

.note1{
    flex-direction: row-reverse;
    animation : float1 infinite 5s ease-in-out;
    animation-delay: 1s;
}
.note2{
    flex-direction: row-reverse;
    animation : float2 infinite 5s ease-in-out;
    animation-delay: 1.5s;
}
.note3{
    flex-direction: row-reverse;
    animation : float3 infinite 5s ease-in-out;
    animation-delay: 2.2s;
}
.note4{
    animation : float4 infinite 5s ease-in-out;
    animation-delay: 1.7s;
}
.note5{
    animation : float5 infinite 5s ease-in-out;
    animation-delay: 3s;
}
.note6{
    animation : float6 infinite 5s ease-in-out;
    animation-delay: 2.2s;
}
.note-img{
    height: 75%;
}

.note-text{
    background-size: cover;
    background-position: center;
    font-size: 2rem;
    font-weight: bold;
}

@keyframes float1 {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes float2 {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes float3 {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes float4 {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes float5 {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

