.WorkCard {
    width: 95%;
    max-width: 210px;
    height: 85%;
    max-height: 250px;
    background: linear-gradient(145deg, #010a12, #010c15);
    box-shadow:  12px 12px 0px #01080e,
             -12px -12px 0px #020f1b;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}
.WorkCard:hover{
    cursor: pointer;
    background: linear-gradient(145deg, #010a12, #010c15);
    box-shadow:  25px 25px 0px #01080e,
             -25px -25px 0px #020f1b;

}