.App {
  position: relative;
  height: 100%;
  width: 90%;
  background-color: var(--background-default);
  color: var(--font-default);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: "Baloo Da 2",cursive;
}
