@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Delius&family=Major+Mono+Display&family=Share+Tech+Mono&display=swap');
:root{
  --font-logo : "Major Mono Display", monospace;
  --font-body : "Anonymous Pro", monospace;
  --font-comic : "Delius", "Ubuntu", sans-serif;
  --font-head : "Share Tech Mono", monospace; 
  --white : #ffffff;
  --black : #000000;
  --logo-pink : #f8485e;
  --button-blue : #6fedd6;
  --text-purple : #512d6d;
}


body {
  margin: 0;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-track {
  background: none;
}


body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.819);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #000;
}
