/*
font-family: 'Audiowide', cursive;
font-family: 'Baloo Da 2', cursive;
font-family: 'Black Ops One', cursive;
*/
:root {
  /* rich-black-fogra-29 */
  --background-default: #010B14; 
  --accent-blue: #6cfff8;
  --accent-blue-light: #061929;
  --font-default: #FDFFFC;
  --font-light: #d9ebe4d3;
  --accent-default: #FFE900;
  --logo-main : #56f045;
}

html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-default);
  color: var(--font-default);
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0d1a2f48;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #334d75c4;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #22344e;
}
